---
import Layout from '../layouts/defaultLayout.astro';
import Ltcard from '../components/ltcard.astro';
import RCMcard from '../components/RCMcard.astro';
import Simplelink from '../components/simplelink.astro';
---

<Layout title="About Us">
     <div class="flex flex-wrap gap-4 p-2 mx-8 lg:p-4 lg:mx-12">
        <Ltcard
            name="William Strafford"
            position="Assitant Director in Residence"
            imageSrc="staffpictures/Will.png"
        />
        <Ltcard
            name="Chrsitine Charette"
            position="Community Director of Lightsey"
            imageSrc="staffpictures/Christine.png"
        />
     </div>
     <div class="flex flex-wrap gap-4 p-2 mx-8 lg:p-4 lg:mx-12">
        <Ltcard
            name="Skylar Walder"
            position="Graduate Community Director"
            imageSrc="staffpictures/Skylar.png"
        />
        <Ltcard
            name="Emily Fisher"
            position="Graduate Community Director"
            imageSrc="staffpictures/Emily.png"
        />
     </div>
     <div class="flex flex-col p-2 mx-8 lg:p-4 lg:mx-12">
        <div class="flex-1 text-2xl sm:text-3xl text-white p-4 bg-inclusiveOrange-300">RCMs of Lightsey Bridge:</div>
     </div>
     <div class="flex flex-col">
        <div class="grid grid-cols-[repeat(auto-fill,minmax(350px,1fr))] auto-rows-[250px] gap-8 p-2 mx-8 lg:p-4 lg:mx-12">
            <RCMcard
                RCMName=""
                RCMBuildingNumber="1"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="2"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="3"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="4"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="5"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="6"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="7"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="8"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="9"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="10"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="11"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="12"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="13"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName="Jim"
                RCMBuildingNumber="14"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Jim.jpg"
            />
            <RCMcard
                RCMName="Kaylee"
                RCMBuildingNumber="15"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Kaylee.jpg"
            />
            <RCMcard
                RCMName="16"
                RCMBuildingNumber="1"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="17"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="18"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="19"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="20"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
        </div>
        </div>
</Layout>