---
import Layout from '../layouts/defaultLayout.astro';
import Ltcard from '../components/ltcard.astro';
import RCMcard from '../components/RCMcard.astro';
import RCLcard from '../components/RCLcard.astro';
---

<Layout title="About Us">
     <div class="flex flex-wrap gap-4 p-2 mx-8 lg:p-4 lg:mx-12">
        <Ltcard
            name="William Srafford"
            position="Assitant Director in Residence"
            imageSrc="staffpictures/Will.jpg"
        />
        <Ltcard
            name="Christine Charette"
            position="Community Director of Lightsey"
            imageSrc="staffpictures/Christine.jpg"
        />
     </div>
     <div class="flex flex-wrap gap-4 p-2 mx-8 lg:p-4 lg:mx-12">
        <Ltcard
            name="Skylar Walder"
            position="Graduate Community Director"
            imageSrc="staffpictures/Skylar.jpg"
        />
        <Ltcard
            name="Emily Fisher"
            position="Graduate Community Director"
            imageSrc="staffpictures/Emily.jpg"
        />
     </div>
     <div class="flex flex-col p-2 mx-8 lg:p-4 lg:mx-12">
        <div class="flex-1 text-2xl sm:text-3xl text-white p-4 bg-inclusiveOrange-300">RCMs of Lightsey Bridge:</div>
     </div>
     <div class="flex flex-col">
        <div class="grid grid-cols-[repeat(auto-fill,minmax(350px,1fr))] auto-rows-[250px] gap-8 p-2 mx-8 lg:p-4 lg:mx-12">
            <RCMcard
                RCMName="Madison"
                RCMBuildingNumber="1"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Madison.jpg"
            />
            <RCMcard
                RCMName="Janiah"
                RCMBuildingNumber="2"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Janiah.jpg"
            />
            <RCMcard
                RCMName="Jonah"
                RCMBuildingNumber="3"
                visibleApartments="True"
                apartments="Apartments: A-D"
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Jonah.JPG"
            />
            <RCMcard
                RCMName="Annabelle"
                RCMBuildingNumber="3"
                visibleApartments="True"
                apartments="Apartments: E-H"
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Annabelle.jpg"
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="4"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName="Jack"
                RCMBuildingNumber="5"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Jack.jpg"
            />
            <RCMcard
                RCMName="Alyssa"
                RCMBuildingNumber="6"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Alyssa.jpg"
            />
            <RCMcard
                RCMName="Evan"
                RCMBuildingNumber="7"
                visibleApartments="True"
                apartments="Apartments: A-D"
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Evan.jpg"
            />
            <RCMcard
                RCMName="Faith"
                RCMBuildingNumber="7"
                visibleApartments="True"
                apartments="Apartments: E-F"
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Faith.jpg"
            />
            <RCMcard
                RCMName="Evee"
                RCMBuildingNumber="8"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Eevee.jpg"
            />
            <RCMcard
                RCMName="London"
                RCMBuildingNumber="9"
                visibleApartments="True"
                apartments="Apartments: A-D"
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/London.jpg"
            />
            <RCMcard
                RCMName="Elvin"
                RCMBuildingNumber="9"
                visibleApartments="True"
                apartments="Apartments: E-H"
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Elvin.jpg"
            />
            <RCLcard
                RCLName="Hannah"
                RCLBuildingNumber="10"
                visibleApartments=""
                apartments=""
                visibleBandlink=""
                bandlink=""
                imageSrc="staffpictures/Hannah.jpg"
            />
            <RCMcard
                RCMName="Liam"
                RCMBuildingNumber="11"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="12"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName="Mackenzie"
                RCMBuildingNumber="13"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Mackenzie.jpg"
            />
            <RCMcard
                RCMName="Jim"
                RCMBuildingNumber="14"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Jim.jpg"
            />
            <RCMcard
                RCMName="Kaylee"
                RCMBuildingNumber="15"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Kaylee.jpg"
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="16"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName="Arissa"
                RCMBuildingNumber="17"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Arissa.jpg"
            />
            <RCMcard
                RCMName=""
                RCMBuildingNumber="18"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc=""
            />
            <RCMcard
                RCMName="Charlie"
                RCMBuildingNumber="19"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Charlie.jpg"
            />
            <RCMcard
                RCMName="Bethany"
                RCMBuildingNumber="20"
                visibleApartments=""
                apartments=""
                visibleBandLink=""
                bandLink=""
                imageSrc="staffpictures/Bethany.jpg"
            />
        </div>
        </div>
</Layout>