---
import Layout from "../layouts/defaultLayout.astro";
import Hoverelement from "../components/hoverelement.astro";
---
<Layout title="Bridge Resources">
    <div class="grid grid-cols-12 grid-rows-[repeat(3,200px)] mt-4">
        <div class="row-[1/2] col-[2/9] xl:col-[2/6] grid place-items-center justify-items-start text-center z-1">
            <div
                class="text-white text-3xl lg:text-5xl font-extrabold leading-[1.2]
                    bg-inclusiveOrange-100
                    rounded-2xl p-4"
            >
                Bridge Resources
            </div>
        </div>
        <div class="row-[1/4] col-[2/12] grid place-items-center">
            <div
                class="h-3/4 w-34/35 rounded-2xl
                       bg-[url('/Lightsey-Bridge-Website/CATBus.jpg')]
                       bg-cover bg-center"
            >
            </div>
        </div>
        <div
            class="row-[3/4] col-[4/12] lg:col-[8/12]
                   grid place-items-center text-center"
        >
            <div
                class="text-white font-bold
                    bg-inclusiveOrange-300
                    rounded-2xl p-4 text-sm md:text-xl"
            >
                If you need more help, check-in with your RCM or check out the "Need Help?" page!
            </div>
        </div>
    </div>
    <div class="flex flex-wrap gap-8 p-2 mx-4 my-2 lg:p-4 lg:mx-12">
        <Hoverelement href="https://www.tctc.edu/">
            TCTC Website
        </Hoverelement>
        <Hoverelement href="https://www.tctc.edu/about-us/convenient-locations/pendleton-campus/">
            TCTC Map
        </Hoverelement>
    </div>
     <div class="flex flex-wrap gap-8 p-2 mx-4 my-2 lg:p-4 lg:mx-12 items-center">
        <Hoverelement href="https://www.clemson.edu/campus-life/parking/">
            Clemson Parking & Transportation
        </Hoverelement>
        <Hoverelement href="https://www.tctc.edu/life-at-tctc/student-services-and-support/campus-police-safety/parking-and-traffic-regulations/">
            TCTC Parking & Transportation
        </Hoverelement>
        </div>
    <div class="flex flex-wrap gap-8 p-2 mx-4 my-2 lg:p-4 lg:mx-12">
        <Hoverelement href="https://www.clemson.edu/campus-life/parking/transit/campus-services/bridge-route.html">
            Bus Routes/Times
        </Hoverelement>
        <Hoverelement href="https://tricountysi.wixsite.com/siparticipants/weekly-schedule">
            S.I. Session Times
        </Hoverelement>
    </div>
</Layout>