---
import Layout from "../layouts/defaultLayout.astro";
---
<Layout title="Bridge Resources">
    <h1>Bridge Resources Section</h1>
    <h2><a href="https://www.tctc.edu/" target="_blank" rel="noopener noreferrer">TCTC Website</a></h3>
    <h3><a href="https://www.tctc.edu/about-us/convenient-locations/pendleton-campus/" target="_blank" rel="noopener noreferrer">TCTC Map</a></h4>
    <h4>Parking and Tranportation</h6>
    <h4>Bus Routes and Times</h6>
</Layout>