---
import Layout from '../layouts/defaultLayout.astro';
import Divider from '../components/divider.astro';
import '../styles/global.css'
---

<Layout title="Lightsey Bridge">
    <Divider></Divider>
    <div class="grid grid-cols-12 grid-rows-[repeat(12,200px)] mt-4">
        <div class="row-[1/2] col-[2/6] grid place-items-end text-center z-1">
            <div 
                class="text-white text-3xl lg:text-5xl font-extrabold leading-[1.2]
                    bg-inclusiveOrange-100
                    rounded-2xl p-4">
                Welcome to the Lightsey Bridge Website!
            </div>
        </div>
        <div
            class="row-[1/4] col-[2/12] grid place-items-center">
            <div 
                class="h-3/4 w-34/35 rounded-2xl
                       bg-[url('Lightsey_Bridge.jpg')]
                       bg-cover bg-center"
            ></div>
        </div>
        <div
            class="row-[3/4] col-[4/12] lg:col-[8/12]
                   grid place-items-center text-center text-xl">
            <div class="
                    text-white font-bold
                    bg-inclusiveOrange-100
                    rounded-2xl p-4">
                We’re the center of housing for students in Bridge Program! Find us at the east side of campus on the other side of the Lightsey Bridge!
            </div>
        </div>
    </div>
</Layout>