---
import Layout from "../layouts/defaultLayout.astro";
import Divider from "../components/divider.astro";
import Instagram from "../components/instagram.astro";
import "../styles/global.css";
---

<Layout title="Lightsey Bridge">
    <Divider />
    <div class="grid grid-cols-12 grid-rows-[repeat(13,200px)] sm:grid-rows-[repeat(16,200px)] xl:grid-rows-[repeat(11,200px)] mt-4">
        <div class="row-[1/2] col-[2/9] xl:col-[2/6] grid place-items-start text-center z-1">
            <div
                class="text-white text-3xl lg:text-5xl font-extrabold leading-[1.2]
                    bg-inclusiveOrange-100
                    rounded-2xl p-4"
            >
                Welcome to the Lightsey Bridge Website!
            </div>
        </div>
        <div class="row-[1/4] col-[2/12] grid place-items-center">
            <div
                class="h-3/4 w-34/35 rounded-2xl
                       bg-[url('Lightsey_Bridge.jpg')]
                       bg-cover bg-bottom bg-fixed"
            >
            </div>
        </div>
        <div
            class="row-[3/4] col-[4/12] lg:col-[8/12]
                   grid place-items-center text-center"
        >
            <div
                class="text-white font-bold
                    bg-inclusiveOrange-100
                    rounded-2xl p-4 text-sm md:text-xl"
            >
                We’re the center of housing for students in Bridge Program! Find
                us at the east side of campus on the other side of the Lightsey
                Bridge!
            </div>
        </div>
        <div class="row-[4/5] col-[2/12] grid items-center">
            <a
                href="https://www.instagram.com/cu_lightseybridge/"
                target="_blank"
                class="flex justify-center items-center gap-4
                       rounded-2xl p-4
                     bg-inclusiveOrange-300 hover:bg-inclusiveOrange-100 duration-1000
                       hover:shadow-2xl"
            >
                <div 
                    class="lg:text-2xl text-white text-center">
                    Look around for more information and make sure to follow us
                    on instagram
                </div>
                <img src="/Instagram.png" class="h-10 w-10" />
            </a>
        </div>
        <div
            class="col-[2/12] xl:col-[4/10] row-[5/6] flex justify-center items-center">
            <div
                class="bg-inclusiveOrange-100 text-white text-2xl sm:text-4xl
                        text-center px-4 py-3 w-3/4 rounded-2xl">
                What's hapening in Lightsey?
            </div>
        </div>
        <div class="col-[2/12] xl:col-[8/11] row-[6/11] flex justify-center items-start">
            <Instagram link="https://www.instagram.com/p/DQvC9UGjbvC/"></Instagram> <!-- Copy instagram post's URL and paste it in the double quotes of 'link' -->
        </div>
        <div
            class="col-[2/12] xl:col-[3/7] row-[10/14] sm:row-[11/16] xl:row-[6/10] 2xl:row-[6/11] flex justify-center items-center md:items-start">
            <img
                class="sm:min-h-150 sm:min-w-112.5"
                src="/mock-up_flyer.png"/>
        </div>
    </div>
</Layout>
