---
import Layout from '../layouts/defaultLayout.astro';
import '../styles/global.css'
---

<Layout title="Lightsey Bridge">
    <div class="h-full">
        <p>Welcome to the Lightsey Bridge Website!</p>
    </div>    
</Layout>