---
import Layout from "../layouts/defaultLayout.astro";
import Leftinfocard from "../components/leftinfocard.astro";
import Rightinfocard from "../components/rightinfocard.astro";
import Hoverelement from "../components/hoverelement.astro";
---

<Layout title="Lightsey Info">
    <Leftinfocard
        title="General Lightsey Bridge Location"
        imageLink="https://www.google.com/maps/place/210+Theta+Kappa+Street,+Clemson,+SC+29634/"
        image="Lightsey_Location.png"
    >
        <div class="text-white text-center">
            Click on the image to get directions.
        </div>
    </Leftinfocard>

    <Rightinfocard
        title="Lightsey Bridge Buildings"
        imageLink="Lightsey_Structure.png"
        image="Lightsey_Structure(cropped).png"
    >
        <div class="text-white text-center">
            Entering community, the top of the image correlates to the right direction and the
            bottom correlates to the left.
        </div>
        <div class="text-white text-center">
            Click the image to enlarge in a new tab.
        </div>
    </Rightinfocard>

    <Leftinfocard
        title="Lightsey Parking Areas"
        imageLink="Lightsey_Parking.png"
        image="Lightsey_Parking.png"
    >
        <div class="text-white text-center">
            You can park in any of the purple areas as long as you have already
            bought your
            <a
                href="https://www.clemson.edu/campus-life/parking/parking-permits/permits/student-permits.html"
                target="_blank"
                class="underline"
            >
                "Apartment Permit."
            </a>
        </div>
        <div class="text-white text-center">
            Click the image to enlarge in a new tab.
        </div>
    </Leftinfocard>

    <div class="flex flex-wrap gap-4 p-2 mx-4 lg:p-4 lg:mx-12">
        <Hoverelement
            href="https://housing.clemson.edu/building/lightsey-bridge-i/"
        >
            Lightsey Bridge 1 Floorplan
        </Hoverelement>
        <Hoverelement
            href="https://housing.clemson.edu/building/lightsey-bridge-ii/"
        >
            Lightsey Bridge 2 Floorplan
        </Hoverelement>
    </div>
    <div class="flex gap-4 p-2 mx-4 lg:p-4 lg:mx-12">
        <Hoverelement
            href="https://housing.clemson.edu/wp-content/uploads/2025/10/Policies-Guide-2025-26-Updated-9-3.pdf"
        >
            Housing Rules and Regulations
        </Hoverelement>
    </div>
</Layout>
