---
import Layout from "../layouts/defaultLayout.astro";
import Instructioncontainer from "../components/instructioncontainer.astro";
import Simplelink from "../components/simplelink.astro";
import Reminder from "../components/reminder.astro";
---
<Layout title="Move-In/Move-Out">
    <Reminder show="True">If you need help at any point, contact your RCM or call the <Simplelink href="tel:864-986-1115">On-Call Phone!</Simplelink></Reminder>
    <Instructioncontainer title="Move-Out">
        <ol class="list-decimal ml-8 space-y-8">
            <li>Insert Instructions</li>
        </ol>
    </Instructioncontainer>
    <Instructioncontainer title="Beginning of the Year Move-In">
        <ol class="list-decimal ml-8 space-y-8">
            <li>Insert Instructions</li>
        </ol>
    </Instructioncontainer>
    <Instructioncontainer title="Winter Break">
        <ol class="list-decimal ml-8 space-y-8">
            <li>Insert Instructions</li>
        </ol>
    </Instructioncontainer>
    </div>
</Layout>