---
import "../styles/global.css";
---

<div class="grid grid-cols-10 w-full h-6 my-2">
    <div class="bg-inclusiveBlue-100"></div>
    <div class="bg-inclusiveOrange-100"></div>
    <div class="bg-inclusiveOrange-300"></div>
    <div class="bg-inclusiveGreen-100"></div>
    <div class="bg-inclusiveYellow-100"></div>
    <div class="bg-inclusiveYellow-100"></div>
    <div class="bg-inclusiveGreen-100"></div>
    <div class="bg-inclusiveOrange-300"></div>
    <div class="bg-inclusiveOrange-100"></div>
    <div class="bg-inclusiveBlue-100"></div>
</div>

