---
import "../styles/global.css";
---

<div class="bg-inclusiveOrange-300 p-4 my-2 mx-4">
    <a href={Astro.props.href}  rel="noopener noreferrer" target={Astro.props.openOnNewTab? "_blank":"_self"}>
        <slot/>
    </a>
</div>