---
import "../styles/global.css";
---

<a
    href={Astro.props.href}
    rel="noopener noreferrer"
    target={Astro.props.openOnNewTab ? "_blank" : "_self"}
    class="bg-inclusiveOrange-300
             px-2 py-2 lg:py-3
             flex items-center justify-center flex-none lg:flex-1 lg:hover:flex-2
             text-sm lg:text-base
             rounded-3xl
             hover:bg-inclusiveOrange-100 duration-300
             shadow-md hover:shadow-2xl
             whitespace-nowrap
             text-white"
>
    <slot />
</a>
