@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: "Poppins", ui-sans-serif, system-ui;

    --color-inclusiveOrange-100: #f56600; /*use 40% opacity for third color*/
    --color-inclusiveOrange-300: #b94700;
    --color-inclusiveYellow-100: #f1c400;
    --color-inclusiveGreen-100: #b7bf10;
    --color-inclusiveBlue-100: #005eb8;
    --color-inclusivePurple-100: #522d80;
}