---
import '../styles/global.css';
import Link from "../components/link.astro";
import Alert from "../components/alert.astro";
import Reminder from '../components/reminder.astro';
---

<!doctype html>
<html lang="en" class="h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" sizes="32x32" href="/paw.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body class="h-screen bg-inclusivePurple-100">
	<header 
		class="flex flex-row justify-center">
		
		<div 
			class="bg-linear-to-l from-inclusivePurple-100 to-inclusiveOrange-100 hover:to-inclusiveOrange-300 transition-colors duration-1000 
				     flex flex-row justify-center items-center w-full gap-x-16
					 p-4 mx-12 my-2
					 rounded-3xl
					 shadow-2xl">
			
			 <div class="flex flex-none items-center">
				<img 
					src="/whitepaw.png" 
					class="h-16 w-16 mr-4"
					alt="Logo">
				</img>
				<a 
					href="/"
					class="text-2xl font-bold text-white whitespace-nowrap">
					Lightsey Bridge Website
				</a>
			</div>
			<div class="flex flex-row justify-between items-center w-full gap-x-4">
				<Link href="/">Home</Link>
				<Link href="/needhelp">Need Help?</Link>
				<Link href ="/bridgeresources">Bridge Resources</Link>
				<Link href="/lightseyinfomap">Community Map & Information</Link>
				<Link href="/moveinout">Move In/Out</Link>
				<Link href="https://clemson.starrezhousing.com/StarRezPortalX/" openOnNewTab=true>Clemson Home Portal</Link>
				<Link href="/aboutus">About Us</Link>
			</div>
		</div>
    </header>

	<Alert show={false}> <!-- Change to "true" to show. Change to "false" to hide -->
		ALERT: BE AWARE, THERE IS A ROGUE RACCOON IN COMMUNITY. IT IS SPECULATED IT MAY HAVE RABIES. STAY INSIDE.
	</Alert>

	<Reminder show={false}> <!-- Change to "true" to show. Change to "false" to hide -->
		Friendly reminder to talk to your RCMs this week! :)
	</Reminder>

		<slot/>
	</body>
</html>
