<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" sizes="32x32" href="/paw.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
    <header>
        <h1><a href="/">Lightsey Bridge Website!</a></h1>
        <a href="/">Home</a>
        <a href="/needhelp">Need Help?</a>
        <a href ="/bridgeresources">Bridge Resources</a>
        <a href="/lightseyinfomap">Community Map & Information</a>
        <a href="/moveinout">Move In/Out</a>
        <a href="https://clemson.starrezhousing.com/StarRezPortalX/" target="_blank" rel="noopener noreferrer">Clemson Home Portal</a>
        <a href="/aboutus">About Us</a>
    </header>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
