---
import '../styles/global.css';
import Link from "../components/link.astro";
import Alert from "../components/alert.astro";
import Reminder from '../components/reminder.astro';
---

<!doctype html>
<html lang="en" class="h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" sizes="32x32" href="/paw.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body class="min-h-screen bg-inclusivePurple-100 flex flex-col">
	<header 
		class="flex flex-row flex-none justify-center">
		
		<div 
			class="bg-linear-to-l from-inclusivePurple-100 to-inclusiveOrange-100 hover:to-inclusiveOrange-300 transition-colors duration-1000 
				     flex flex-row flex-wrap justify-center items-center w-full gap-x-16 gap-y-2
					 p-2 mx-4 my-2 lg:p-4 lg:mx-12
					 rounded-3xl
					 shadow-2xl">
			
			 <div class="flex flex-none items-center">
				<img 
					src="/whitepaw.png" 
					class="h-8 w-8 lg:h-16 lg:w-16 mr-4"
					alt="Logo">
				</img>
				<a 
					href="/"
					class="text-xl lg:text-2xl font-bold text-white whitespace-nowrap">
					Lightsey Bridge
				</a>
			</div>
			<div class="flex flex-row lg:flex-2 flex-wrap justify-center lg:justify-between items-center gap-2 lg:gap-x-4 lg:gap-y-4">
				<Link href="/">Home</Link>
				<Link href="/needhelp">Need Help?</Link>
				<Link href ="/bridgeresources">Bridge Resources</Link>
				<Link href="/lightseyinfomap">Map & Information</Link>
				<Link href="/moveinout">Move In/Out</Link>
				<Link href="https://clemson.starrezhousing.com/StarRezPortalX/" openOnNewTab=true>Home Portal</Link>
				<Link href="/aboutus">About Us</Link>
			</div>
		</div>
    </header>

	<Alert show={false}> <!-- Change to "true" to show. Change to "false" to hide -->
		ALERT: BE AWARE, THERE IS A ROGUE RACCOON IN COMMUNITY. IT IS SPECULATED IT MAY HAVE RABIES. STAY INSIDE.
	</Alert>

	<Reminder show={false}> <!-- Change to "true" to show. Change to "false" to hide -->
		Friendly reminder to talk to your RCMs this week! :)
	</Reminder>
	
	<main class="flex-1">
		<slot/>
	</main>
	
	<footer 
		class="flex items-center flex-none
				bg-linear-to-r from-inclusiveOrange-300 to-inclusiveOrange-300 hover:to-inclusiveOrange-100 transition-colors duration-1000
			   px-4 py-2">
		<div class="flex flex-none items-center opacity-80 hover:opacity-100 transition-opacity duration-1000">
			<img 
				src="/whitepaw.png" 
				class="h-10 w-10 mr-4
					   sm:h-14 sm:w-14"
				alt="Logo">
			</img>
			<a 
				href="/"
				class="text-lg lg:text-2xl font-bold text-white whitespace-nowrap">
				Lightsey Bridge
			</a>
		</div>
		<div class="flex-2 text-right text-sm lg:text-lg">
			<div>The Lightsey Bridge Community</div>
			<div>Clemson University 2026</div>
			<div>210 Theta Kappa Street</div>
		</div>
	</footer>
	</body>
</html>
