---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" sizes="32x32" href="/paw.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body class="h-screen bg-inclusivePurple-100">
	<header class="bg-inclusiveOrange-100">
        <h1><a href="/">Lightsey Bridge Website!</a></h1>
        <a href="/" class="bg-inclusiveRed-100">Home</a>
        <a href="/needhelp" class="bg-inclusiveYellow-100">Need Help?</a>
        <a href ="/bridgeresources" class="bg-inclusiveGreen-100">Bridge Resources</a>
        <a href="/lightseyinfomap" class="bg-inclusiveBlue-100">Community Map & Information</a>
        <a href="/moveinout" class="bg-inclusiveRed-100">Move In/Out</a>
        <a href="https://clemson.starrezhousing.com/StarRezPortalX/" target="_blank" rel="noopener noreferrer" class="bg-inclusiveYellow-100">Clemson Home Portal</a>
        <a href="/aboutus" class="bg-inclusiveGreen-100">About Us</a>
    </header>
		<slot/>
	</body>
</html>
