---
import '../styles/global.css';
import Link from "../components/link.astro";
---

<!doctype html>
<html lang="en" class="h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" sizes="32x32" href="/paw.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body class="h-screen bg-inclusivePurple-100">
	<header 
		class="flex flex-row justify-center">
		
		<div 
			class="bg-linear-to-r from-inclusivePurple-100 to-inclusiveOrange-100 hover:to-inclusiveOrange-300 transition-colors duration-1000 
				     flex flex-row justify-center items-center w-full
					 p-4 mx-12 my-2
					 rounded-3xl
					 shadow-2xl">
			
			 <div class="flex flex-row items-center pr-16">
				<img 
					src="/whitepaw.png" 
					class="h-15 w-15 mr-4">
				</img>
				<a 
					href="/"
					class="text-2xl font-bold text-white whitespace-nowrap">
					Lightsey Bridge Website!
				</a>
			</div>
			<div class="flex flex-row justify-between items-center w-full">
				<Link href="/">Home</Link>
				<Link href="/needhelp">Need Help?</Link>
				<Link href ="/bridgeresources">Bridge Resources</Link>
				<Link href="/lightseyinfomap">Community Map & Information</Link>
				<Link href="/moveinout">Move In/Out</Link>
				<Link href="https://clemson.starrezhousing.com/StarRezPortalX/" openOnNewTab=true>Clemson Home Portal</Link>
				<Link href="/aboutus">About Us</Link>
			</div>
		</div>
    </header>

	<section 
		class="flex-row justify-center text-center
				py-4 my-4 mx-12 rounded-2xl
				bg-red-800 text-white text-4xl font-bold
				flex">  <!-- replace 'hidden' with 'flex' to show the alert and vice-versa to hide the alert. -->
						<!-- DO NOT MODIFY ANYTHING ELSE: eg. 'flex-row' -->
		<h1 
			class="inline-block">
			ALERT: BE AWARE, THERE IS A ROGUE RACCOON IN COMMUNITY. IT IS SPECULATED IT MAY HAVE RABIES. STAY ISIDE.
		</h1>
	</section>

	<section 
		class="flex-row justify-center text-center
				py-4 my-4 mx-12 rounded-2xl
				bg-inclusiveOrange-300 text-inclusiveGreen-100 text-4xl font-bold
				flex">  <!-- replace 'hidden' with 'flex' to show the reminder and vice-versa to hide the reminder. -->
						<!-- DO NOT MODIFY ANYTHING ELSE: eg. 'flex-row' -->
		<h1 
			class="inline-block">
			Friendly reminder to talk to your RCMs this week! :)
		</h1>
	</section>

		<slot/>
	</body>
</html>
